.answer_question{
    text-align:center;
    padding:10px 0;
    font-family: fantasy;
    font-size:200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
        list-style:none;
}

.answer_title{
        font-family: 'Trebuchet MS',sans-serif;
        text-align: center;
        color: black;
        font-size: 20px;
    }

.answer_question2{
    text-align:center;
    padding:20px 0
    
}

.answer_btn-border:hover {
    color: #fff;
    background: #000;
}

.answer_btn-border {
    border: 2px solid #000;
    border-radius: 0;
    
}

.answer_box1 {
    float: center;
    font-weight: bold;
    color: #000;/*文字色*/
    border: solid 2px black;
    border-width: 5pt;
    border-radius: 10px;/*角の丸み*/
    background: #FFF;
    margin: auto;
    width: 70%;
    margin-bottom: 6%;
    height: 250px;
}

.answer_box2 {
    float: left; /* 左寄せ */
    font-weight: bold; /* フォントの太さ */
    color: #000; /* 文字色 */
    border-width: 5pt; /* ボーダーの太さ */
    border-radius: 10px; /* ボーダーの角の丸み */
    border: solid 2px black; /* ボーダーのスタイル（黒色） */
    background: #FFF; /* 背景色（白色） */
    width: 30%; /* 幅が親要素の30% */
    margin-bottom: 3%; /* 下方向のマージン */
    margin-right: 5%; /* 右方向のマージン */
    margin-left: 10%; /* 左方向のマージン */
}

.btn,
a.btn,
button.btn {
    color: #212529;
}