.box {
    position: relative;
    /* 今の位置を基準 */
    bottom: 150px;
    /* 上から10px */
    left: 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 222, 1);
    ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    /* テキストの色 */
    font-size: 15px;
    /* テキストのフォントサイズ */
}
a.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}

a.btn-border:hover {
    color: #fff;
    background: #000;
}

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    /*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    display: inline-block;
    padding: 2rem 6rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}